<div [style.display]="showLoading == true ? 'block' : 'none' " class="modal-dialog position-absolute top-50 start-50 translate-middle">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="container">
  <h1>Sobre a Docato</h1>
  <div class="card">
    <div class="card-body">
      <h2 [innerHtml]="titles.history"></h2>
      <p [innerHtml]="texts.history"></p>
      <h2 [innerHtml]="titles.about"></h2>
      <p [innerHtml]="texts.about"></p>
    </div>
  </div>
</div>
